<?xml version="1.0"?>
<yandex>
    <macros>
        <shard>01</shard>
        <replica>01</replica>
    </macros>
    <zookeeper>
        <node>
            <host>zookeeper.ext</host>
            <port>2181</port>
        </node>
        <session_timeout_ms>30000</session_timeout_ms>
        <operation_timeout_ms>10000</operation_timeout_ms>
    </zookeeper>
    <remote_servers>
        <my_cluster>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-starlight-01.ext</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>clickhouse-brightsky-01.ext</host>
                    <port>9002</port>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>clickhouse-starlight-02.ext</host>
                    <port>9001</port>
                </replica>
                <replica>
                    <host>clickhouse-brightsky-02.ext</host>
                    <port>9003</port>
                </replica>
            </shard>
        </my_cluster>
    </remote_servers>
    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
    <user_directories>
        <users_xml>
            <path>/etc/clickhouse-server/users.xml</path>
        </users_xml>
    </user_directories>
    <logger>
        <level>information</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
    </logger>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <interserver_listen_host>0.0.0.0</interserver_listen_host>
    <interserver_http_port>9009</interserver_http_port>
    <interserver_http_host>clickhouse-starlight-01.ext</interserver_http_host>
    <opentelemetry>
        <endpoint>grpc://otel-collector.rgzz:4317</endpoint>
        <service_name>clickhouse-starlight-01</service_name>
    </opentelemetry>
    <distributed_ddl>
        <!-- Path in ZooKeeper to queue with DDL queries -->
        <path>/clickhouse/task_queue/ddl</path>

        <!-- Optional settings (можно добавить для стабильности) -->
        <profile>default</profile>
        <task_max_lifetime>604800</task_max_lifetime> <!-- 7 дней -->
        <cleanup_delay_period>60</cleanup_delay_period>
        <max_tasks_in_queue>1000</max_tasks_in_queue>
    </distributed_ddl>
    <distributed_ddl_task_enabled>1</distributed_ddl_task_enabled>
</yandex>
